In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2022-03-07 04:38:59,-0.7393,-90.3518,76.59,84,89,4.41
1,1,Castro,BR,2022-03-07 04:38:59,-24.7911,-50.0119,63.36,90,30,2.37
2,2,Cherskiy,RU,2022-03-07 04:39:00,68.7500,161.3000,-13.34,93,67,4.12
3,3,Ushuaia,AR,2022-03-07 04:34:23,-54.8000,-68.3000,38.86,93,75,9.22
4,4,Lompoc,US,2022-03-07 04:35:52,34.6391,-120.4579,50.56,84,0,17.00

In [3]:
#get the Data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [10]:
#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2022-03-07 04:38:59,-0.7393,-90.3518,76.59,84,89,4.41
5,5,West Bay,KY,2022-03-07 04:39:01,19.3667,-81.4167,79.07,87,35,3.00
7,7,Haldwani,IN,2022-03-07 04:39:01,29.2167,79.5167,77.23,31,100,3.94
8,8,Kapaa,US,2022-03-07 04:39:02,22.0752,-159.3190,75.52,68,0,3.44
10,10,Diffa,NE,2022-03-07 04:39:03,13.3154,12.6113,84.33,9,100,5.88
11,11,The Valley,AI,2022-03-07 04:39:03,18.2170,-63.0578,76.86,74,19,26.71
13,13,Rikitea,PF,2022-03-07 04:39:04,-23.1203,-134.9692,79.54,78,97,16.78
17,17,Busselton,AU,2022-03-07 04:39:06,-33.6500,115.3333,85.05,40,1,7.18
19,19,Maiduguri,NG,2022-03-07 04:39:06,11.8464,13.1603,78.40,18,76,3.20
26,26,Freetown,SL,2022-03-07 04:39:09,8.4840,-13.2299,75.34,76,27,5.21

In [16]:
preferred_cities_df.count()

City_ID       145
City          145
Country       145
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [17]:
 # Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0   Puerto Ayora      EC     76.59  -0.7393  -90.3518
5       West Bay      KY     79.07  19.3667  -81.4167
7       Haldwani      IN     77.23  29.2167   79.5167
8          Kapaa      US     75.52  22.0752 -159.3190
10         Diffa      NE     84.33  13.3154   12.6113
11    The Valley      AI     76.86  18.2170  -63.0578
13       Rikitea      PF     79.54 -23.1203 -134.9692
17     Busselton      AU     85.05 -33.6500  115.3333
19     Maiduguri      NG     78.40  11.8464   13.1603
26      Freetown      SL     75.34   8.4840  -13.2299

In [18]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    print()

IndexError: list index out of range

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,76.59,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,West Bay,KY,79.07,19.3667,-81.4167,Calypso Cove
7,Haldwani,IN,77.23,29.2167,79.5167,OYO Premium Nainital Road Haldwani
8,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Diffa,NE,84.33,13.3154,12.6113,ProDAF/Diffa
11,The Valley,AI,76.86,18.2170,-63.0578,CeBlue Villas & Beach Resort
13,Rikitea,PF,79.54,-23.1203,-134.9692,People ThankYou
17,Busselton,AU,85.05,-33.6500,115.3333,Observatory Guest House
19,Maiduguri,NG,78.40,11.8464,13.1603,Kagel Mari Police Station
26,Freetown,SL,75.34,8.4840,-13.2299,The Country Lodge Hotel

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))