## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Puerto Ayora,EC,78.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,6,Kapaa,US,81.12,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,7,Rikitea,PF,78.75,broken clouds,-23.1203,-134.9692,People ThankYou
3,11,Alofi,NU,78.69,broken clouds,-19.0595,-169.9187,Taloa Heights
4,20,Arraial Do Cabo,BR,77.67,clear sky,-22.9661,-42.0278,Pousada Porto Praia

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Puerto Ayora,EC,78.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,6,Kapaa,US,81.12,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,7,Rikitea,PF,78.75,broken clouds,-23.1203,-134.9692,People ThankYou
3,11,Alofi,NU,78.69,broken clouds,-19.0595,-169.9187,Taloa Heights
4,20,Arraial Do Cabo,BR,77.67,clear sky,-22.9661,-42.0278,Pousada Porto Praia
...,...,...,...,...,...,...,...,...
165,668,Shenzhen,CN,75.27,few clouds,22.5455,114.0683,Grand Skylight
166,669,Kudahuvadhoo,MV,82.51,clear sky,2.6708,72.8944,Niyama Private Islands Maldives
167,671,Baculin,PH,84.49,overcast clouds,7.4525,126.5842,Baculin Cove Beach Resort
168,672,Mersing,MY,82.31,scattered clouds,2.4312,103.8405,Timotel Hotel
169,674,Coruripe,BR,78.15,broken clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = "Kopargaon"
vacation_end = "Kopargaon"
vacation_stop1 = "Tumsar"
vacation_stop2 = "Saraipali"
vacation_stop3 = "Harindanga"

vacation_start = vacation_df.loc[vacation_df["City"] == 'Kopargaon']
vacation_end = vacation_df.loc[vacation_df["City"] == 'Kopargaon']  
vacation_stop2 = vacation_df.loc[vacation_df["City"] == 'Tumsar']
vacation_stop3 = vacation_df.loc[vacation_df["City"] == 'Saraipali'] 
vacation_stop4 = vacation_df.loc[vacation_df["City"] == 'Harindanga']

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop4[["Lat", "Lng"]].to_numpy()[0]

In [23]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop2, vacation_stop3, vacation_stop4],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,473,Kopargaon,IN,76.23,clear sky,19.8833,74.4833,Chanakya Mandal
1,650,Tumsar,IN,75.09,clear sky,21.3833,79.7333,Sai Guest House
2,357,Saraipali,IN,75.27,clear sky,21.3333,83.0000,UTTAR KUMAR SIDAR
3,616,Harindanga,IN,75.72,scattered clouds,22.0383,88.3214,Hazi Home

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))